.card {
  width: 360px;
  height: 480px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s;
  box-shadow:
    -10px 10px 16px 0px rgba(0, 0, 0, 0.1),
    10px -10px 16px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
  }
}